<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template</title>
<script src="jquery-2.1.4.min.js"></script>
<script src="underscore-min.js"></script>
<style>
    ul{
        list-style:none;
    }
</style>
</head>
<body>
<script id="t2" type="text/template"> 
<% _.each(datas, function (item) {%>
    <div class = "outer">
        <div class = "title">
        <span><%= item.film %></span></div>
        <ul class = "ul">
        <% _.each(datas, function (item) { %>
            <li>
                <a href = "<%=item.url%>"> 【 <%= item.title %> 】 </a>  </li>  
        <%});%>
    </ul>
    </div> 
<%});%>
</script> 
<script type="text/javascript"> 
var datas = [{
    title: "一九四二",
    url: "http://www.jb51.net",
    film: "电影1"
}, {
    title: "少年派的漂流",
    url: "http://www.jb51.net",
    film: "电影2"
}, {
    title: "教父",
    url: "http://www.jb51.net",
    film: "电影3"
}, {
    title: "肖申克的救赎",
    url: "http://www.jb51.net",
    film: "电影4"
}, {
    title: "3d2012",
    url: "http://www.jb51.net",
    film: "电影5"
}];
$("body").html(_.template($("#t2").html(), datas));
</script> 
</body>
</html>